<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">ADD NEW REVIEW to <%= provider.name %></h1>
        <div style="width: 40%; margin: 25px auto;">
            <form action="/providers/<%= provider._id %>/reviews" method="POST">
               <div class="form-group">
                  <textarea class="form-control" type="text" rows="3" name="review[text]" placeholder="your review"></textarea>
               </div>
               <div class="form-group">
                  <button class="btn btn-lg btn-success btn-block">Submit</button>
               </div>
            </form>
            <a href="/providers">Go Back</a>  
        </div>
    </div> <!--row-->
</div> <!--container-->
<% include ../partials/footer %>